*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-hero1{
    background-image: url(img/bg-banner-home.jpg);
    
}
.bluecolor{
   color: #006aff;
}
.bgbluecolortransp{
    background-color: #006aff88;
}
.bgbluedarker{
   background-color: hsl(220,95%,8%);
}
.bluedarkertext{
    color: rgb(2, 19, 54);
 }
.bggrey{
    background-color: #f3f5f9;
 }
.bgblue{
    background-color:#024cb4 ;
 }
 .bgblue2{
    background-color:#085cd3 ;
 }
 .imgsize{
     max-width:180px;
     margin-right:60px;
 }
 .whitebg{
     background-color: white;
 }
.my-container{
    height:60px;
    margin: auto;
    max-width: 1200px;
}
.pulsante{
   /* padding:  10px 15px; */
   padding-top: 7px;
   
}
.bdcolor1{
    border-color:#006aff;
}

.navbar>.container-fluid .navbar-brand {
    padding:7px 7px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(88, 169, 245);
}
.navbar-default .navbar-toggle {
    border-color:white;
}
.navbar{
    margin-bottom:0;
}
.navbar-default .navbar-nav>li>a {
    color: hsl(220,95%,8%);
}

.text-white{
    color: white;
}
.fnt-sz-big{
    font-size: 55px;
}

.text-gray{
    color:  #c9cbce;
}
.text-gray2{
    color: gray;
}
.text-gray3{
    color: rgba(128, 128, 128, 0.849);
}
.fnt-sz-big2{
    font-size: 22px;
}
/* .form-container{
    max-width:400px;
    margin: auto;

} */
.h100{
    height: 100px;
}
.padding-but{
    padding:6px 18px;
}
.margintop{
    margin-top:10px ;
}
.margintop2{
    margin-top:30px ;
}

/* .bluebutton{
    width:90%;
} */
.padding-top{
    padding-top: 10px;
}
.padding-top2{
    padding-top: 60px;
}
.paddingbotto{
    padding-bottom: 25px;
}
.bordern{
    border-left: hidden;
    border-top: hidden;
}

.marginbottom5px{
    margin-bottom: 5px;
}
.margintop5px{
    margin-top: 5px;
}
.textdecoration{
    text-decoration:underline;  
}
.inblock{
    display: inline-block;
}
.absolut{
    position: absolute;
    left: 0;
    height:20px;
}
.relativ{
    position: relative;
}
.lineh{
    line-height: 30px;
}
.fnt-sz-big3{
    font-size: 20px;
}
.fnt-sz-big4{
    font-size: 15px;
}
.fnt-sz-big6{
    font-size: 16px;
}
.listdep{
    line-height: 40px;
    border-left: 2px solid;
    padding-left: 10px;
}
.row-small{
    max-width:960px
}
.row-small2{
    max-width:900px
}
.h500{
  height: 500px;
  vertical-align: middle;
  line-height: 500px;
  
}
.objectf{
    object-fit: contain;
}
.dot {
    height: 12px;
    width: 12px;
    border:1px solid #006aff; 
    border-radius: 50%;
    display: inline-block;
}
.bordertopnone{
      border-top: hidden;
}
.bluelink{
      color: rgb(5, 226, 255);
}
.text-alr{
      text-align: right;
}
.imgheight{
      height: 100px;
}
.paddingbotto2{
    padding-bottom: 80px;
}
.panelwid{
    max-width: 650px;
}
.h398{
    height: 400px;
    vertical-align: middle;
    line-height: 400px;
}
.fnts-big5{
    font-size:20px;
}
.paddingright{
    padding-right: 10px;
}
.listn{
    list-style: none;
}
.positionfixed{
    position:fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;  
}
.positionfixed .bgblue{
    border-radius: 5px;
}
.numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* padding: 10px; */

    background: rgb(233, 30, 30);
    border: 4px solid white;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    right:-8px;
    top:-8px;
    vertical-align: middle;
    line-height :22px; ;
   
}
.chat{
    position: absolute;
    background-color: white;
    border:1px solid black;
    color:rgb(2, 19, 54) ;
    width: 250px;
    top:-20px;
    left:-270px;
    border-radius: 5px;
    padding:10px;
}
@media screen and (min-width: 769px) and (max-width: 991px) {
.nav>li>a{
    padding: 15px 8px;
}
.fnt-size11px{
font-size: 11px;
}
.imgsize{
    margin-right: 0;
}
 }